{% load static %}
<!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
            <a href="index.html" class="b-brand">
                   <div class="b-bg">
                       <img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/logo.png' %}" alt="activity-user">
                   </div>
                   <span class="b-title">Repository Fakultas Kehutanan</span>
               </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="javascript:">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
                
            </ul>
            <ul class="navbar-nav ml-auto">
                
                    
                <li>
                    <a href="{% url 'logout' %}" class="item"><i class="feather icon-log-in"></i> Logout</a>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->